/*全ページ共通のcssのため一番最後に読み込まれる(最優先される)*/
/*変数*/
:root {
  --f1: 2.44em; /* 39.04px */
  --f2: 1.95em; /* 31.2px */
  --f3: 1.56em; /* 24.96px */
  --f4: 1.25em; /* 20px */
  --f5: 1em; /* 16px */
  --f6: 0.8em; /* 12.8px */
  --basebrowncolor: rgba(194, 158, 135, 0.9);
  --blackboard: rgb(98, 145, 140); /* 基本色 */
  --whitechalk: rgb(239, 242, 242);
  --accentblack: rgb(90, 50, 25);
  --footersize: 30px;
  --myfont: "chalk", "Josefin Sans", sans-serif;
  --myw: 720px; /*標準幅*/
  --gradient: linear-gradient(
    79.7deg,
    rgba(76, 131, 255, 1) 8.2%,
    rgba(42, 250, 233, 1) 84.9%
  );
}
/*font*/
@font-face {
  font-family: "chalk";
  src: url("fonts/Chalk-JP.otf") format("opentype"); /* medium */
  font-weight: normal;
  font-style: normal;
}
/*記事の幅そろえる+初期設定等全てのページに適用*/
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden; /*タブレットだとmain-visualが横にはみ出てスクロールバーが出てしまう*/
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  text-decoration: none;
}
p {

  margin: 0;
}
main {
  /*mainコンテンツはビューサイズの8割以上必ず埋める*/
  min-height: 80%;
}
.base-backcolor {
  background-color: var(--blackboard);
}
.chalk-font {
  font-family: var(--myfont);
  color: var(--whitechalk);
}

/*header*/
.myhead {
  height: 15%;
  background-image: url(./images/none);
  background-size: cover;
  border-bottom: solid 3px var(--accentblack);
}
.filter {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--basebrowncolor);
}
.myhead img {
  display: block; /*aタグの下の余白を消す*/
  height: 55%;
  border-radius: 5px;
}
.dashicons-menu-alt3 {
  /*dashiconsのアイコンサイズは幅高さも変えること*/
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: var(--accentblack);
}
/*headerのhamburgerメニュー*/
.hamburger {
  z-index: 51;
}

.hamburger-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transform: translateX(100%); /* メニューを画面の外に飛ばす */
  z-index: 50;
  background-image: url(./images/board-cork.png);
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
.hamburger-menu h1{
  margin: 0;
  color: var(--accentblack)
}
.hamburger-menu-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.hamburger-menu.active {
  transform: translateX(0);
}
.hamburger-menu-list{
  text-align: center;
  width: 100%;
  height: 100%;
}
.hamburger-menu-item{
  margin: 5% 0;
  width: 40%;
  border: solid 5px var(--accentblack);
  border-radius: 40%;
}
.hamburger-menu-list img {
  width: 100%;
  height: auto;
}
/*メインコンテンツ*/

.minislide-container {
  background-color: rgba(0, 0, 0, 0);
}

/*footer*/
main {
  padding-bottom: var(--footersize); /*footerの分余白を確保*/
}
.anchor {
  /*フッター位置下から基準にする*/
  min-height: 100%;
  position: relative;
}
.myfoot {
  background-color: var(--basebrowncolor);
  width: 100%;
  height: var(--footersize); /*mainで確保されたスペース分フッターを貼る*/
  position: absolute; /*フッター下からの位置を基準にする*/
  bottom: 0;
}
#goTOP{
  position: absolute;
  display: none;
  right: 10px;
  bottom: 10px;
}
#goTOP img{
  width: auto;
  height: 100px;
}
div.eraser{
  width: 5%;
  position: relative;
  left: 20px;
  top: -95%;
}
div.eraser img{
  width: auto;
  height: 30px;
}
/* ==========================
  ローディング画面
========================== */
#bl_loading {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
}
#bl_loadingPercentWrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
#bl_loadingGaugeWrap {
  width: 100%;
  height: 3px;
  background-color: #666;
}
#bl_loadingGaugeMeter {
  width: 0;
  height: 3px;
  background-color: #fff;
  display: block;
}

#bl_loadingIcon-1{
  display: none;
  width: auto;
  height: 60px;
}
#bl_loadingIcon-2{
  display: none;
  width: auto;
  height: 60px;
}
#bl_loadingIcon-3{
  display: none;
  width: auto;
  height: 60px;
}